<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<body style="font-family: Arial, sans-serif; color: #333;">

    <p>Dear Team,</p>

    <p>
        The customer <b>{{ customer }}</b> has been <b>approved and released from credit hold</b>.
    </p>

    <p>
        You may now proceed with creating the Sales Order for this customer.
    </p>

    <br>

    <p>
        Kindly ensure that all necessary validations and approvals are considered while proceeding.
    </p>

    <br>

    <p>
        Regards,<br>
        <b>{{ user }}</b>
    </p>

</body>
</html>